In [1]:
%LOAD sqlite3 db=airbnb.db timeout=2 shared_cache=true

#### Select Queries
The most basic command in sql is the `select` command. It is used whenever we want to query the database.\
Let's have a look at how to write a basic select query
```sql
select * from sample
```
- the keyword `select` means this is a query
- Afterward, the star symbol `*` means we want to select *all* of the columns from the table.
- the keyword `from` followed by the name of the table we want to query (in this case, the table `sample`)

note: SQL is not case sensitive, so both `SELECT` and `select` are valid. It used to be considered best practice to use upper case for KEYWORDS and lower case for everything else, but I will avoid this convention as I find it hurts readability

try running a select query:

In [8]:
select * from sample where calculated_host_listings_count

+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| id   | name                                             | host_id | host_name   | neighbourhood_group | neighbourhood      | latitude | longitude | room_type       | price | minimum_nights | number_of_reviews | last_review | reviews_per_month | calculated_host_listings_count | avaiability_365 |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 2539 | Clean & quiet apt home by the park               | 2787    | John        | Brooklyn            | Kensington         | 40.64749 | -73.97237 | Private room    | 149   | 1              | 9                 | 2018-10-19  | 0.21              | 6                              | 365             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 2595 | Skylit Midtown Castle                            | 2845    | Jennifer    | Manhattan           | Midtown            | 40.75362 | -73.98377 | Entire home/apt | 225   | 1              | 45                | 2019-05-21  | 0.38              | 2                              | 355             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 3647 | THE VILLAGE OF HARLEM....NEW YORK !              | 4632    | Elisabeth   | Manhattan           | Harlem             | 40.80902 | -73.9419  | Private room    | 150   | 3              | 0                 |             |                   | 1                              | 365             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 3831 | Cozy Entire Floor of Brownstone                  | 4869    | LisaRoxanne | Brooklyn            | Clinton Hill       | 40.68514 | -73.95976 | Entire home/apt | 89    | 1              | 270               | 2019-07-05  | 4.64              | 1                              | 194             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5022 | Entire Apt: Spacious Studio/Loft by central park | 7192    | Laura       | Manhattan           | East Harlem        | 40.79851 | -73.94399 | Entire home/apt | 80    | 10             | 9                 | 2018-11-19  | 0.10              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5099 | Large Cozy 1 BR Apartment In Midtown East        | 7322    | Chris       | Manhattan           | Murray Hill        | 40.74767 | -73.975   | Entire home/apt | 200   | 3              | 74                | 2019-06-22  | 0.59              | 1                              | 129             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5121 | BlissArtsSpace!                                  | 7356    | Garon       | Brooklyn            | Bedford-Stuyvesant | 40.68688 | -73.95596 | Private room    | 60    | 45             | 49                | 2017-10-05  | 0.40              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5178 | Large Furnished Room Near B'way                  | 8967    | Shunichi    | Manhattan           | Hell's Kitchen     | 40.76489 | -73.98493 | Private room    | 79    | 2              | 430               | 2019-06-24  | 3.47              | 1                              | 220             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5203 | Cozy Clean Guest Room - Family Apt               | 7490    | MaryEllen   | Manhattan           | Upper West Side    | 40.80178 | -73.96723 | Private room    | 79    | 2              | 118               | 2017-07-21  | 0.99              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5238 | Cute & Cozy Lower East Side 1 bdrm               | 7549    | Ben         | Manhattan           | Chinatown          | 40.71344 | -73.99037 | Entire home/apt | 150   | 1              | 160               | 2019-06-09  | 1.33              | 4                              | 188             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
10 rows in set (0.00 sec)

Let's look at what we got:
- there are 10 records (or rows) of airbnb apartments in New York City
- each record have 16 different columns of values - name of the place, name of the host, price, et cetera

In [10]:
select * from sample where minimum_nights > 2

+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| id   | name                                             | host_id | host_name   | neighbourhood_group | neighbourhood      | latitude | longitude | room_type       | price | minimum_nights | number_of_reviews | last_review | reviews_per_month | calculated_host_listings_count | avaiability_365 |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 2539 | Clean & quiet apt home by the park               | 2787    | John        | Brooklyn            | Kensington         | 40.64749 | -73.97237 | Private room    | 149   | 1              | 9                 | 2018-10-19  | 0.21              | 6                              | 365             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 2595 | Skylit Midtown Castle                            | 2845    | Jennifer    | Manhattan           | Midtown            | 40.75362 | -73.98377 | Entire home/apt | 225   | 1              | 45                | 2019-05-21  | 0.38              | 2                              | 355             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 3647 | THE VILLAGE OF HARLEM....NEW YORK !              | 4632    | Elisabeth   | Manhattan           | Harlem             | 40.80902 | -73.9419  | Private room    | 150   | 3              | 0                 |             |                   | 1                              | 365             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 3831 | Cozy Entire Floor of Brownstone                  | 4869    | LisaRoxanne | Brooklyn            | Clinton Hill       | 40.68514 | -73.95976 | Entire home/apt | 89    | 1              | 270               | 2019-07-05  | 4.64              | 1                              | 194             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5022 | Entire Apt: Spacious Studio/Loft by central park | 7192    | Laura       | Manhattan           | East Harlem        | 40.79851 | -73.94399 | Entire home/apt | 80    | 10             | 9                 | 2018-11-19  | 0.10              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5099 | Large Cozy 1 BR Apartment In Midtown East        | 7322    | Chris       | Manhattan           | Murray Hill        | 40.74767 | -73.975   | Entire home/apt | 200   | 3              | 74                | 2019-06-22  | 0.59              | 1                              | 129             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5121 | BlissArtsSpace!                                  | 7356    | Garon       | Brooklyn            | Bedford-Stuyvesant | 40.68688 | -73.95596 | Private room    | 60    | 45             | 49                | 2017-10-05  | 0.40              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5178 | Large Furnished Room Near B'way                  | 8967    | Shunichi    | Manhattan           | Hell's Kitchen     | 40.76489 | -73.98493 | Private room    | 79    | 2              | 430               | 2019-06-24  | 3.47              | 1                              | 220             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5203 | Cozy Clean Guest Room - Family Apt               | 7490    | MaryEllen   | Manhattan           | Upper West Side    | 40.80178 | -73.96723 | Private room    | 79    | 2              | 118               | 2017-07-21  | 0.99              | 1                              | 0               |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
| 5238 | Cute & Cozy Lower East Side 1 bdrm               | 7549    | Ben         | Manhattan           | Chinatown          | 40.71344 | -73.99037 | Entire home/apt | 150   | 1              | 160               | 2019-06-09  | 1.33              | 4                              | 188             |
+------+--------------------------------------------------+---------+-------------+---------------------+--------------------+----------+-----------+-----------------+-------+----------------+-------------------+-------------+-------------------+--------------------------------+-----------------+
10 rows in set (0.00 sec)

In [9]:
select * from sqlite_master

+-------+--------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| type  | name   | tbl_name | rootpage | sql                                                                                                                                                                                                                                               |
+-------+--------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| table | airbnb | airbnb   | 2        | CREATE TABLE airbnb (id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, avaiability_365) |
+-------+--------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| table | sample | sample   | 1861     | CREATE TABLE sample(                                                                                                                                                                                                                              |
|       |        |          |          | id,                                                                                                                                                                                                                                               |
|       |        |          |          | name,                                                                                                                                                                                                                                             |
|       |        |          |          | host_id,                                                                                                                                                                                                                                          |
|       |        |          |          | host_name,                                                                                                                                                                                                                                        |
|       |        |          |          | neighbourhood_group,                                                                                                                                                                                                                              |
|       |        |          |          | neighbourhood,                                                                                                                                                                                                                                    |
|       |        |          |          | latitude,                                                                                                                                                                                                                                         |
|       |        |          |          | longitude,                                                                                                                                                                                                                                        |
|       |        |          |          | room_type,                                                                                                                                                                                                                                        |
|       |        |          |          | price,                                                                                                                                                                                                                                            |
|       |        |          |          | minimum_nights,                                                                                                                                                                                                                                   |
|       |        |          |          | number_of_reviews,                                                                                                                                                                                                                                |
|       |        |          |          | last_review,                                                                                                                                                                                                                                      |
|       |        |          |          | reviews_per_month,                                                                                                                                                                                                                                |
|       |        |          |          | calculated_host_listings_count,                                                                                                                                                                                                                   |
|       |        |          |          | avaiability_365                                                                                                                                                                                                                                   |
|       |        |          |          | )                                                                                                                                                                                                                                                 |
+-------+--------+----------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
2 rows in set (0.00 sec)